.list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 16px;
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 10px;
  }
}
.add {
  border-top: 2px solid white;
}
.img {
  height: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .img {
    height: 400px;
  }
}
li.actors {
  list-style: none;
}
