.list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 16px;
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid white;
  box-shadow: 0px 24px 20px -23px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 20px;
  }
}
.img {
  height: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .img {
    height: 400px;
  }
}
li.actors {
  list-style: none;
}
.textContent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1px;
  width: 100%;
}
