.img {
  height: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .img {
    height: 400px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  box-shadow: 0px 24px 20px -23px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 20px;
  }
}
.homePage {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}
.combined {
  max-width: 500px;
}
.textContent {
  display: flex;
  flex-direction: column;
}
.descr {
  margin: 0;
  padding: 4px;
}
.name {
  color: orange;
  margin-top: 0;
}
.known {
  color: orange;
  margin-top: 30px;
}
