.actors {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
}
.actor {
  flex-basis: 100%;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 768px) {
  .actor {
    flex-basis: calc((100% - 30px) / 3);
  }
}
@media (min-width: 1280px) {
  .actor {
    flex-basis: calc((100% - 60px) / 5);
  }
}
.img {
  height: 300px;
  border-radius: 10px;
}
