.image {
  width: 100px;
  display: flex;
}
.div {
  display: flex;
  overflow: hidden;
  gap: 10px;
}
.data {
  display: flex;
  flex-direction: column;
}
.par {
  margin: 0;
}
.spanPar {
  color: grey;
}
.parName {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
